In [2]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_csv('./bookData.csv')

In [4]:
train.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price'],
      dtype='object')

In [5]:
train= train.drop([ 'publisher', 'publishDate','bookId','genres','series','rating', 'description',
       'language','characters', 'bookFormat', 'edition',
       'pages','firstPublishDate', 'awards','numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg','bbeScore', 'bbeVotes', 'price'], axis=1)

In [6]:
print(train.columns)
train.head()

Index(['title', 'author', 'isbn'], dtype='object')

,title,author,isbn
0,The Hunger Games,Suzanne Collins,9780439023481
1,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",9780439358071
2,To Kill a Mockingbird,Harper Lee,9999999999999
3,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",9999999999999
4,Twilight,Stephenie Meyer,9780316015844

In [7]:
train.to_csv("./src/main/java/Library/Data/bookData.csv",index=False)